#id_language {
  display: grid;
  grid-template-columns: repeat(5, 0fr);
  grid-gap: 2px;
  overflow-y: scroll;
  height: 100px;
  padding: 0px;
}

#id_language input[type="checkbox"] {
  display: none;
}

#id_language span {
display: inline-block;
padding: 2px;
width: 194px;
text-align: center;
border: 2px solid #DEE1E5;
background: #E9ECEF;
border-radius: 3px;
color: #6C6C6D;
}

#id_language label {
place-self: center;
}

#id_language input[type="checkbox"]:checked + span {
border: 2px solid #2586E6;
color: #6C6C6D;
}